{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",

    "COSMOS_ENDPOINT": "https://your-cosmos-account.documents.azure.com:443/",
    "COSMOS_KEY": "<your-key-here>",
    "COSMOS_DATABASE": "bakingFeedbackDB",
    "COSMOS_FORMS_CONTAINER": "forms",
    "COSMOS_SUBMISSIONS_CONTAINER": "submissions"
  }
}
